<div class="sidebar-view-subreddit text-center">
    <div class="subreddit-title m-3" style="color: black; font-weight: bold;"> Explore Subreddits</div>
    <hr />
    <span *ngFor="let subreddit of subreddits" >
        <span class="subreddit-text m-3" ><a href="/view-subreddit/{{subreddit.id}}" >r/{{subreddit.name}}</a></span>
        <hr>
        
    </span>
    <div style="text-align: center" *ngIf="displayViewAll">
        <a style="font-weight: bold" routerLink="/list-subreddits">View All</a>
    </div>
</div>