<!-- Display Posts-->
<div class="row post" *ngFor="let post of posts">
    <app-vote-button [post]="post"></app-vote-button>
    <!-- Section to Display Post Information-->
    <div class="col-md-8">
      <span class="subreddit-info">
        <span class="subreddit-text"><a class="posturl" routerLink="">r/{{post.subredditName}}</a></span>
        <span> . Posted by <a class="username" routerLink="/user/{{post.userName}}">{{post.userName}}</a></span>
        <span> . {{post.duration}}</span>
      </span>
      <hr />
      <div class="post-title">
        <a class="postname" routerLink="/posts/{{post.id}}">{{post.postName}}</a>
      </div>
      <div>
        <p class="post-text" [innerHtml]="post.description"></p>
      </div>
      <hr />
      <span>
        <!-- <button class="login" (click)="goToPost(post.id)">
          Link
        </button> -->
        <a class="btnLink" role="button" href="{{post.url}}">
          <fa-icon [icon]="faLink" ></fa-icon>
          External Link
        </a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a class="btnCommments" role="button" (click)="goToPost(post.id)">
          <fa-icon [icon]="faComments"></fa-icon>
          Comments({{post.commentCount}})
        </a>
        
      </span>
    </div>
  </div>